{% extends 'base.html' %}
{% block title %}
    Upload Track Page
{% endblock %}
{% block content %}
<body class="text-center">
    <section class="container">
    <form method="POST" class="form-upload-track w-50" style="margin-left: auto; margin-right: auto;">
      {{ form.hidden_tag() }}
      <h1>Upload Track</h1>
      <br>
        {% with array='title copyright duration genre' %}
            {% for x in array.split() %}
                {{ form[x].label() }}
                {{ form[x](class="form-control", placeholder=x.capitalize())}}
            {% endfor %}
        {% endwith %}
        <br>
        {{ form.featuring.label() }}
        {% for feat in form.featuring %}
            {{ feat.label }}{{ feat }}
        {% endfor %}
        <br>
      <div class="form-group">
          {{ form.submit(class="btn btn-primary") }}
      </div>
    </form>
    </section>
</body>
{% endblock %}