{% extends 'base.html' %}
{% block title %}
    Upload Album Page
{% endblock %}
{% block content %}
<body class="text-center">
    <section class="container">
    <form method="POST" class="form-upload-album w-50" style="margin-left: auto; margin-right: auto;">
      {{ form.hidden_tag() }}
      <h1>Upload Album</h1>
      <br>
        {% with array='title num_tracks' %}
            {% for x in array.split() %}
                {{ form[x].label() }}
                {{ form[x](class="form-control", placeholder=x.capitalize())}}
            {% endfor %}
        {% endwith %}
        <br>
      <div class="form-group">
          {{ form.submit(class="btn btn-primary") }}
      </div>
    </form>
    </section>
</body>
{% endblock %}