{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}
{% block content %}
    <style>
    .masthead {
        height: 100vh;
        min-height: 500px;
        background-image: url(../static/images/background-home.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: black;
        border-color: rgba(13, 110, 253, 0.91);
        border-style: solid;
        border-width: thick;
    }
    </style>
<body class="text-center">
    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
            <h1 class="text-primary" style="font-size: 54px; font-style: italic;">Welcome {{ current_user.username }}</h1>
            <p class="lead"><a class="btn btn-primary" href="{{ url_for('private') }}">Get Started</a></p>
          </div>
        </div>
      </div>
    </header>

    {% if current_user.is_authenticated and not is_artist(current_user.username) %}
        <section class="container w-50" style="margin-left: auto; margin-right: auto;">
        <br>
        <h1>BEST IN THE APP</h1>
        {% for key, value in top.items() %}
            <br>
            <h2>{{ key }}</h2>
            {% with table = key.split(' ')[1] %}
            {% for elem in value %}
                <div class="list-group-item list-group-item-action">
                    {% if table == 'artists' %}
                    <a href="/view-{{ elem.id }}" class="text-decoration-none">{{ elem.stage_name }}</a>
                    {% else %}
                    <a href="/view-{{ get_element_creator(table, elem.id) }}" class="text-decoration-none">{{ get_title(elem.id) }}</a>
                    {% endif %}
                </div>

            {% endfor %}
            {% endwith %}
        {% endfor %}
        <br>
        </section>
    {% endif %}

</body>
{% endblock %}
