{% extends 'base.html' %}
{% block title %}
    Login Page
{% endblock %}
{% block content %}
<body class="text-center">
    <section class="container">
    <form method="POST" class="form-signin w-50" style="margin-left: auto; margin-right: auto;">
      {{ form.hidden_tag() }}
      <h1>Sign-In</h1>
      <br>
        {% with array='username password' %}
            {% for x in array.split() %}
                {{ form[x].label() }}
                {{ form[x](class="form-control", placeholder=x.capitalize())}}
            {% endfor %}
        {% endwith %}
      <br>
      <small id="notSignedSpan" class="form-text text-muted">If you aren't registered yet <a href="{{ url_for('signup') }}"> Sign up</a></small>
      <div class="form-group">
          {{ form.submit(class="btn btn-primary") }}
      </div>
    </form>
    </section>
</body>
{% endblock %}
