{% extends 'base.html' %}
{% block title %}
    Sign-Up Premium
{% endblock %}
{% block content %}
<body class="text-center">
    <section class="container">
        <form method="POST", class="form-signup-premium w-50" style="margin-left: auto; margin-right: auto;">
            {{ form.hidden_tag() }}
            <h1>Sign-Up Premium</h1>
            <br>
            {% with array='type number holder expiration_date pin' %}
                {% for x in array.split() %}
                    {% if x == 'type' %}
                        {{ form[x].label() }}
                        {{ form[x](class="form-control", placeholder="Card Type")}}
                    {% else %}
                        {{ form[x].label() }}
                        {{ form[x](class="form-control", placeholder=x.replace('_', ' ').capitalize())}}
                    {% endif  %}
                {% endfor %}
            {% endwith %}
            <br>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </section>
</body>
{% endblock %}