{% extends 'base.html' %}
{% block title %}
    Listener Page
{% endblock %}
{% block content %}
<body class="text-center">
    <section class="container">
        <h1>My Library</h1>
        {% for elem, values in elems.items() %}
            <br>
            <table>
                <thead>My {{ elem }}</thead>
                {% for i in values %}
                <tr>
                    <th>{{ i }}</th>
                    <th>Info</th>
                </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </section>
</body>
{% endblock %}
