{% extends 'base.html' %}
{% block title %}
    Search Page
{% endblock %}
{% block content %}
<body class="text-center">
    <section class="container w-50" style="margin-left: auto; margin-right: auto;">
        <h1>App advice</h1>
        <br>
        {% for key, value in advice.items() %}
            {% if advice[key] %}
            <h3>{{ key }}</h3>
            <div class="list-group">
            {% for i in value %}
                <div class="list-group-item list-group-item-action">
                    {% if key == 'artists' %}
                    <a href="/view-{{ i.id }}" class="text-decoration-none">{{ i.stage_name }}</a>
                    {% else %}
                    <a href="/view-{{ get_element_creator(key, i.id) }}" class="text-decoration-none">{{ i.title }}</a>
                    {% endif %}

                    {% if is_saved(current_user.username, i.id) %}
                    <span style='cursor: pointer;' onclick="location.href='/delete-{{ i.id }}'">
                        <i class='bi bi-heart-fill'></i>
                    </span>
                    {% else %}
                    <span style='cursor: pointer;' onclick="location.href='/save-{{ i.id }}'">
                        <i class='bi bi-heart'></i>
                    </span>
                    {% endif %}

                </div>
            {% endfor %}
            {% endif %}
            </div>
        {% endfor %}
        <br>

        <br>
        <h1>Search results</h1>
        <br>
        {% for key, value in dict.items() %}
            {% if dict[key] %}
            <h3>{{ key }}</h3>
            <div class="list-group">
            {% for i in value %}
                <div class="list-group-item list-group-item-action">
                    {% if key == 'artists' %}
                    <a href="/view-{{ i.id }}" class="text-decoration-none">{{ i.stage_name }}</a>
                    {% else %}
                    <a href="/view-{{ get_element_creator(key, i.id) }}" class="text-decoration-none">{{ i.title }}</a>
                    {% endif %}

                    {% if is_saved(current_user.username, i.id) %}
                    <span style='cursor: pointer;' onclick="location.href='/delete-{{ i.id }}'">
                        <i class='bi bi-heart-fill'></i>
                    </span>
                    {% else %}
                    <span style='cursor: pointer;' onclick="location.href='/save-{{ i.id }}'">
                        <i class='bi bi-heart'></i>
                    </span>
                    {% endif %}

                </div>
            {% endfor %}
            {% endif %}
            </div>
        {% endfor %}
    </section>
</body>
{% endblock %}
