{% extends 'base.html' %}
{% block title %}
    Sign-Up Artist Page
{% endblock %}
{% block content %}
<body class="text-center">
    <section class="container">
        <form method="POST", class="form-signup-artist">
            {{ form.hidden_tag() }}
            <h1>Sign-Up Artist</h1>
            <br>
            {% with array='stage_name solo_group bio' %}
                {% for x in array.split() %}
                    {{ form[x].label() }}
                    {{ form[x](class="form-control", placeholder=x.capitalize().replace('_', ' ')) }}
                {% endfor %}
            {% endwith %}


            <!--
            {{ form.solo_group.label() }}
            {{ form.solo_group(class="form-control") }}
            {{ form.bio.label() }}
            {{ form.bio(class="form-control", value="Solo") }}
            -->

            <br>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </section>
</body>
{% endblock %}