{% extends 'base.html' %}
{% block title %}
    Sign-Up Page
{% endblock %}
{% block content %}
<body class="text-center">
    <section class="container justify-content-center">
        <form method="POST", class="form-signup w-50" style="margin-left: auto; margin-right: auto;">
            {{ form.hidden_tag() }}
            <h1>Sign-Up</h1>
            <br>
            <br>
            {% with my_array='username email password password_check name lastname country birth_date gender user_type', cl='form-control' %}
                {% for x in my_array.split() %}
                <div>
                    {{ form[x].label() }}
                    {% if form[x].type != "SelectField" %}
                        {% if x != "password_check" %}
                            {{ form[x](class=cl, placeholder=x.capitalize()) }}
                        {% else %}
                            {{ form[x](class=cl, placeholder="Confirm Password") }}
                        {% endif %}
                    {% else %}
                        {% if x == "gender" %}
                            {{ form[x](class=cl, value="M") }}
                        {% elif x == "user_type" %}
                            {{ form[x](class=cl, value="Listener") }}
                        {% endif %}
                    {% endif %}
                </div>
                {% endfor %}
            {% endwith %}
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </section>
</body>
{% endblock %}
