{% extends 'base.html' %}
{% block title %}
    Sign-Up Page
{% endblock %}
{% block content %}
<body class="text-center">
    <section class="container">
        <form method="POST", class="form-signup">
            {{ form.hidden_tag() }}
            <h1>Sign-Up</h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="Username") }}
            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="Email") }}
            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password")}}
            {{ form.password_check.label() }}
            {{ form.password_check(class="form-control", placeholder="Confirm Password")}}
            {{ form.name.label() }}
            {{ form.name(class="form-control", placeholder="Name") }}
            {{ form.lastname.label() }}
            {{ form.lastname(class="form-control", placeholder="Lastname") }}
            {{ form.country.label() }}
            {{ form.country(class="form-control", placeholder="Country") }}
            {{ form.birth_date.label() }}
            {{ form.birth_date(class="form-control", placeholder="Birth Date") }}
            {{ form.gender.label() }}
            {{ form.gender(class="form-control", value="M") }}
            {{ form.user_type.label() }}
            {{ form.user_type(class="form-control", value="Listener") }}
            <br>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </section>
</body>
{% endblock %}
