{% extends 'base.html' %}
{% block title %}
    Statistics
{% endblock %}
{% block content %}



<body>

<meta class="gender_listeners" data-name="{{ get_gender_listener(current_user.username) }}">
<meta class="followers_count" data-name="{{ get_followers_count(current_user.username) }}">
<meta class="country_listeners" data-name="{{ get_country_listener(current_user.username) }}">



<table>
    <tr>
        <td>
            <div class="chart-container" style=" height:400px; width:400px;">
               <canvas id="gender" width="400" height="400" style="background-size: contain;" ></canvas>
            </div>
        </td>
        <td>
            <div class="chart-container" style=" height:400px; width:400px;">
               <canvas id="country" width="400" height="400" style="background-size: contain;" ></canvas>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        <label>Follower Count:</label>
                        </td><td>
                        <ul class = "list-group">
                            <li class = "list-group-item "> {{ get_followers_count(current_user.username) }} </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="../static/js/chart.js"></script>



</body>
{% endblock %}