{% extends 'base.html' %}
{% block title %}
    Statistics
{% endblock %}
{% block content %}

<body>
<style>

.counter-box {
	display: block;
	background: #f6f6f6;
	padding: 40px 20px 37px;
	text-align: center
}

.counter-box p {
	margin: 5px 0 0;
	padding: 0;
	color: #909090;
	font-size: 18px;
	font-weight: 500
}

.counter-box i {
	font-size: 60px;
	margin: 0 0 15px;
	color: #d2d2d2
}

.counter {
	display: block;
	font-size: 32px;
	font-weight: 700;
	color: #666;
	line-height: 28px
}

.counter-box.colored {
      background: #3acf87;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
	color: #fff
}
</style>

<div class="container">
    <div class="row">
	<div class="four col-md-3">
		<div class="counter-box">
			<i class="bi bi-people"></i>
			<span class="counter">{{ get_followers_count(current_user.username) }}</span>
			<p>Followers</p>
		</div>
	</div>
	</div>
  </div>
</div>


<br>
<br>
<h4>Gender Listener</h4>
<table class="table">
    {% set res = get_gender_listener(current_user.username) %}
    {% set item1, item2, item3 = res.split(',') %}

    <thead>
        <tr>
            <th scope="col">Male</th>
            <th scope="col">Female</th>
            <th scope="col">Null</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>{{ item1 }}</th>
            <th>{{ item2 }}</th>
            <th>{{ item3 }}</th>
        </tr>
    </tbody>
</table>
<br>

<br>
<h4>Country Listener</h4>
<table class="table">
    {% for key, value in get_country_listener(current_user.username).items() %}
    <tbody>
        <tr>
            <th scope="col">{{ key }}</th>
            <th scope="col">{{ value }}</th>
        </tr>
    </tbody>
    {% endfor %}
</table>
<br>


<h4>Top saved tracks</h4>
<table class="table">
    {% for track, i in zip(artist_best_elems(current_user.username, Track), range(1, 4)) %}
    <tbody>
        <tr>
            <th scope="col">{{ i }}: {{ get_title(track.id) }}</th>
        </tr>
    </tbody>
    {% endfor %}
</table>
<br>

<h4>Top saved albums</h4>
<table class="table">
    {% for album, i in zip(artist_best_elems(current_user.username, Album), range(1, 4)) %}
    <tbody>
        <tr>
            <th scope="col">{{ i }}: {{ get_title(album.id) }}</th>
        </tr>
    </tbody>
    {% endfor %}
</table>
<br>

</body>
{% endblock %}